@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @media print {
        .page-break {
            page-break-before: always;
        }
        .avoid-break {
            break-inside: avoid;
            page-break-inside: avoid;
        }
        .print-container {
            width: 210mm;
            min-height: 297mm;
            margin: auto;
        }
    }
}
